div
    hi Actualizar Usuario
    p Introdusca datos
        label(for="Nombre") Animal a actualizar
        input#username2(type="text", name="nombre" , required, placeholder="nombre")
        br
        label(for="user") Nombre:
        input#first_name(type="text", name="nombre" , required, placeholder="nombre")
        br
        label(for="user") Clasificacion:
        input#last_name(type="text", name="clasificacion" , required, placeholder="calsificacion")
        br
        label(for="user") Apariencia:
        input#email(type="text", name="apariencia" , required, placeholder="apariencia")
        br
        label(for="user") Poder Especial:
        input#password(type="text" name="poder", required, placeholder="poder")
        br
        input#submit_btn2(type="submit" value="Update")
    script(src='/javascripts/index2.js')
    include botones.pug