extends layout

block content
    nav
       ul
            li
                a(href='/api') Agregar Animal 
            li
                a(href='/users') Ver Animal
            li
                a(href='/borrar') Borrar
            li
                a(href='/actualizar') Actualizar